body {
	background-image: url(../img/background/build1.jpg);
	background-repeat: no-repeat;
	background-size: 100%

}


@import url('https://fonts.googleapis.com/css?family=Lato');


.options {
	 position: absolute;
	 left: 37%;
	 top: 50%;
	 width: 800px;
	 margin: -100px 0 0 -200px;

}

.buttonMenu {
	text-decoration: none;
	font-family: 'Lato';
	display: inline-block;
	width: 300px; height: 150px;
	box-shadow: 0 10px 15px black;
	background: #829ecc;
}

