@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Lobster');



.background {
	background-image: url(../img/background/build1.jpg);
	background-repeat: no-repeat;
	background-size:100%;
	font-family: 'Lobster';

}
.backBody{
	background: white;
}


@import url('https://fonts.googleapis.com/css?family=Lato');


.options {
	width: 60%;
	margin:10% auto;

}

.buttonMenu {
	color: white;
	font-family: 'Lobster';
	font-size: 28px;
	text-decoration: none;
	display: inline-block;
	width: 80%; 
	height: 130px;
	margin-top: 50px;
	box-shadow: 0 10px 15px black;
	background: #829ecc;
}

