@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Lobster');

body {
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-size:100%;
	background-position:0px 250%;
	font-family: 'Lobster';

}




.options {
	width: 60%;
	margin:10% auto;

}

.buttonMenu {
	color: black;
	font-family: 'Lobster';
	font-size: 28px;
	text-decoration: none;
	display: inline-block;
	width: 80%; 
	height: 130px;
	margin-top: 50px;
	box-shadow: 0 10px 15px black;
	background: #829ecc;
}
#myButton:hover{
	margin:5% auto;
	color: #eee;

}



