<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>test</title>
</head>
<body >
	<div ng-controller="findBestSalaryRegion ">
		<input ng-model="regionName" type="text">
		<button ng-click="findBestSalaryByRegion($event)">Send Region</button>

	<div>
		<ul>
			<li ng-repeat="offer in ofertas | orderBy : '-salarioM'">{{offer.salaryMax.value}} /// {{offer.title}} /// {{offer.author.name}} /// {{offer.province.value}}</li>
		</ul>
		
	</div>
	</div>




	<div ng-controller="findBestSalaryField">
		<input ng-model="fieldName" type="text" ng-model="algo">
		<button ng-click="findBestSalaryByField($event)">Send Field</button>

	<div>
		<ul>
			<li ng-repeat="offer in ofertas | orderBy : '-salarioM'">{{offer.salaryMax.value}} /// {{offer.title}} /// <a ng-click="findByBestCompanyOffers(offer.author.name)" href="">{{offer.author.name}}</a> /// {{offer.province.value}}</li>
		</ul>
		
	</div>
	</div>

	<div ng-controller="findBestSalaryCompany">
		<button ng-click="findBestSalaryByCompany($event)">Send Company</button>


	<table class="table table-hover">
		<tbody>
<!-- 		 filter : {name : query}  -->
<!-- filter : { author : { val : 'true' } }  -->
			<tr ng-repeat="offer in ofertasFinal | limitTo: 5 |  orderBy : '-value'">
				<td>{{offer.value}}</td>
				<td>{{offer.name}}</td>

			</tr>
		</tbody>
	</table>
	</div>



	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
	<script src="js/app.js"></script>
	<script src= "js/controllers.js"></script>
	<script src= "js/service.js"></script>
</body>
</html>