<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/region.css">
	
</head>
<body>
	<div class="navbar">
		<div class="container-fluid navbar-inner">
			<a class="navbar-brand col-lg-3" href="#/">Job4You</a>
			<ul class="nav navbar-nav nav-center row">
				<li class="active col-lg-3">
						<a href="#/region">Region</a>
				</li>
				<li class="col-lg-3">
						<a href="#/sector">Sector laboral</a>
				</li>
				<li class="col-lg-3">
						<a href="#/companies">Companies</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="container main">

		<div id="ofert" class="row">
			<a href=""><h2 class="col-sm-12">InfoJobs</h2></a>
			<p class="col-sm-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, soluta!</p>
			<p class="col-sm-6">Sector | Barcelona</p>
			<p class="col-sm-1 col-sm-offset-5">22.000</p>
			
		</div>
			

	</div>

</body>
</html>