<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/individuals.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<header>
	<ul>
		<li class="logo link"><div>Logo</div></li>
		<li class="op1 link"><div ><a href="#">opcion 1</a></div></li>
		<li  class="op2 link"><div><a href="#">opcion 2</a></div></li>
	</ul>	
	</header>
	
	<div class="container">
	<form id="myform" action="">
		<div class="row"> 	
    			<div class="input-group">
     				<span class="input-group-btn">
        				<button class="btn btn-default" type="button">Go!</button>
      				</span>
      				<input type="text" class="form-control" placeholder="Search for...">
    			</div>
		</div>
	</form>
	</div>

	<div>
		<h2>
			
		</h2>
		<p>
			
		</p>
	</div>
</body>
</html>