<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/individuals.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>

	<!-- <div class="navbar">
		<div class=" row">
			
			<ul class="nav nav-center">
				<li class="col-xs-4"><a href="#">Center 1</a></li>
				<li class="col-xs-4"><a href="#">Center 2</a></li>
				<li class="col-xs-4"><a href="#">Center 3</a></li>
			</ul>

		</div>
	</div> -->
	<nav class="navbar">
		<div class="row">
			<ul class="nav nav-center">
				<li class="active">
					<a href="#">Option1</a>
				</li>
				<li class="col-xs-4">
					<a href="#">Option2</a>
				</li>
				<li class="col-xs-4">
					<a href="#">Option3</a>
				</li>
			</ul>
		</div>
	</nav>

	
	<div class="container">
		<form id="myform" action="">
			<div class="row"> 	
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">Go!</button>
					</span>
					<input type="text" class="form-control" placeholder="Search for...">
				</div>
			</div>
		</form>
	</div>

	<div class="container">
		<h2>
			
		</h2>
		<p>
			
		</p>
	</div>
</body>
</html>