<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="job-for-you/css/region.css">
	
</head>
<body>
	<div class="navbar">
		<div class="container-fluid navbar-inner">
			<a class="navbar-brand col-lg-3" href="#/">Job4You</a>
			<ul class="nav navbar-nav nav-center row">
				<li class="active col-lg-3">
						<a href="#/region">Region</a>
				</li>
				<li class="col-lg-3">
						<a href="#/sector">Sector laboral</a>
				</li>
				<li class="col-lg-3">
						<a href="#/companies">Companies</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="container main">

		<div id=" searchInput">
			<form id="myform" action="">
				<div class="row"> 	
					<div class="input-group">
						<span class="input-group-btn">
							<button ng-click="findBestSalaryByRegion($event)" class="btn btn-default" type="button">Search!</button>
						</span>
						<input ng-model="regionName" type="text" class="form-control" placeholder="Type your region...">
					</div>
				</div>
			</form>
		</div>

		<div ng-repeat="offer in ofertas" id="ofert" class="row">
			<a href=""><h2 class="col-sm-12">{{offer.title}}</h2></a>
			<p class="col-sm-12">{{offer.requirementMin}}</p>
			<p class="col-sm-6"><a ng-click="findByBestCompanyOffers(offer.author.name)" href="">{{offer.author.name}}</a></p>
			<p class="col-sm-1 col-sm-offset-5">{{offer.salaryMax.value}}</p>
			
		</div>
			

	</div>

</body>
</html>