<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<div class="container" ng-controller="searchBySalary">

	<div class="jumbotron" >
		<div class="container">
			
			<form ng-submit="findBestSalary($event)" action="" method="POST" class="form-inline" role="form">

				<div class="form-group">
					<input type="text" class="form-control" id="" placeholder="Input artist name...">
				</div>

				<button type="submit" class="btn btn-primary">Search</button>
			</form>
		</div>
	</div>


	<h2>{{fieldName}}</h2>
	<script src="https://opensource.keycdn.com/angularjs/1.5.8/angular.min.js "></script>
	
	<script src="../js/app.js"></script>
	<script src="../test.jason"></script>
	<script src="../js/controllers.js"></script>
	<script src="../js/service.js"></script>
</body>
</html>